<!DOCTYPE html>
<html ng-app="xp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<table class="table table-bordered" ng-controller="ctrl1">
    <tr>
        <td><input type="checkbox" ng-model="selectAll" ng-click="selectOn()"/>全选</td>
        <td>商品</td>
        <td>数量</td>
        <td>单价</td>
        <td>小计</td>
        <td>操作</td>
    </tr>
    <tr ng-repeat="a in products">
        <td><input type="checkbox" ng-model="a.selected" ng-click="selectOne()"/></td>
        <td>{{a.name}}</td>
        <td><button ng-click="a.count=a.count-1" ng-disabled="a.count<=1">-</button><input type="text" ng-model="a.count"/><button ng-click="a.count=a.count+1">+</button></td>
        <td>{{a.price}}</td>
        <td>{{a.price*a.count}}</td>
        <td><button class="btn btn-danger" ng-click="del(a)">删除</button></td>
    </tr>
    <tr>
        <td colspan="6">总价:{{total()}}</td>
    </tr>
</table>
<script src="node_modules/angular/angular.js"></script>
<script>
    var app=angular.module('xp',[]);
    app.controller('ctrl1',function($scope){
        $scope.products=[
        {name:'samsung s7 edge',price:'5688',count:1,selected:true},
        {name:'oneplus3',price:'2499',count:1,selected:false},
        {name:'mi note',price:'999',count:1,selected:true},
        {name:'iphone 7',price:'5288',count:1,selected:true}
        ]
        $scope.del=function(product){
            $scope.products=$scope.products.filter(function(item){
                return product!=item;
            })
        }
        $scope.total=function(){
            var sum=0
            $scope.products.forEach(function(product){
                sum+=product.price*product.count
            })
            return sum;
        }
        $scope.selectOn=function(){
            $scope.products.forEach(function(product){
                product.selected=$scope.selectAll;
            })
        }
        function s(){
            var flag=true;
            $scope.products.forEach(function(product){
                if(!product.selected)flag=false;
            })
            $scope.selectAll=flag;
        }
        s();
        $scope.selectOne=s;
    })
</script>
</body>
</html>